@model IEnumerable<POC_PS_Automation.Domain.Permission>
@{
    int sNo = 0;
}
    @*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
<br />

<a href="~/ScriptOutput/Output_folderperm_ext.csv"  target="_blank">CSV</a>
<div class="row">
    <div class="col-12 resultTab" id="permissionContentDiv" >
        <table class="table table-bordered table-sm table-striped defaultTable " id="tblPermissionsExtract">
            <tr style="background-color:lightgray;">
                <td>No.</td>
                <td>Hostname</td>
                <td>Folder Name</td>
                <td>Group/User</td>
                <td>Permissions</td>
            </tr>
            @foreach (var p in Model)
            {
                sNo++;
                <tr>
                    <td>@sNo</td>
                    <td>@p.HostName</td>
                    <td>@p.FolderName</td>
                    <td>@p.GroupOrUser</td>
                    <td>@p.Permissions</td>
                </tr>
            }
        </table>
    </div>
</div>
