
@{
    ViewData["Title"] = "Home Page";
    string extractActiveFlag = "";
    string compareActiveFlag = "";
    if(TempData["TargetTab"].ToString() == "Compare"){
        compareActiveFlag = "active";
        extractActiveFlag = "";
    }
    else
    {
        compareActiveFlag = "";
        extractActiveFlag = "active";
    }
}

<div class="text-center">
    <p>
        <h5 ><u><b > MaaS - Server Assessment Tool </b></u></h5>
    </p>
</div>

<div style="padding-left:5px;">
    <nav>
        <div class="nav nav-pills" id="nav-tab" role="tablist">
            <a class="nav-item nav-link @extractActiveFlag" id="nav-serverdetails-tab" data-toggle="tab" href="#nav-serverdetails" role="tab" aria-controls="nav-serverdetails" aria-selected="true">Server Details</a>
            <a class="nav-item nav-link @compareActiveFlag" id="nav-compare-tab" data-toggle="tab" href="#nav-compare" role="tab" aria-controls="nav-compare" aria-selected="true">Compare Servers</a>
        </div>
    </nav>
    <div class="tab-content" id="nav-tabContent" style="padding-left:2px; padding-right:2px;">
        <div class="tab-pane fade show @extractActiveFlag" id="nav-serverdetails" role="tabpanel" aria-labelledby="nav-serverdetails-tab" style="padding-left:15px; padding-right:15px;">
            <partial name="/Views/Home/PartialViews/_PartialHome.cshtml" />
        </div>
        <div class="tab-pane fade show @compareActiveFlag" id="nav-compare" role="tabpanel" aria-labelledby="nav-compare-tab" style="padding-left:15px; padding-right:15px;">
            <partial name="/Views/Home/PartialViews/_PartialCompare.cshtml" />
        </div>
    </div>
</div>

@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            console.log(@int.Parse(TempData["Delay"].ToString()));
            var delay = @int.Parse(TempData["Delay"].ToString());
            if (delay > 0) {
                if ('@compareActiveFlag' === "active") {
                    setTimeout(refreshCompareResults, delay);
                } else {
                    setTimeout(refreshAllExtractTabs, delay);
                }
            }
            //console.log('@TempData["TargetTab"]');

        });
    </script>
}